# Lab 10 wyrażenia listowe, słownikowe i dla zbiorów

Składać listy w pętlach w jP można na kilka sposobów: za pomocą konkatenacji `L1 + L2`, metod przynależnych do list `L.append(element), L.insert(indeks, element), L.extend(L2)`. Można też wykorzystać tzw: wyrażenia listowe

```
[f(el) for el in sekwencja]
```

Za pomocą wyrażenia warunkowego `if` możemy przefiltrować elememnty sekwencji bazowej w czasie tworzenia listy.

```
[f(el) for el in sekwencja if g(el)]
```

Jeżeli `g(el)` rozwiąże się do prawdy `True` to dany element doda się do listy, w przeciwnym wypadku nie doda się.

In [1]:
# start 8:05

In [2]:
[liczba ** 2 for liczba in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[(liczba, liczba ** 2,  liczba ** 3) for liczba in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [11]:
od, do = 1, 10
M = 6
listy_poteg = [[liczba ** potega for potega in range(1, M + 1)] for liczba in range(od, do + 1)]
listy_poteg

[[1, 1, 1, 1, 1, 1],
 [2, 4, 8, 16, 32, 64],
 [3, 9, 27, 81, 243, 729],
 [4, 16, 64, 256, 1024, 4096],
 [5, 25, 125, 625, 3125, 15625],
 [6, 36, 216, 1296, 7776, 46656],
 [7, 49, 343, 2401, 16807, 117649],
 [8, 64, 512, 4096, 32768, 262144],
 [9, 81, 729, 6561, 59049, 531441],
 [10, 100, 1000, 10000, 100000, 1000000]]

### Problem: lista liczb parzystych od 1 do 100

In [12]:
llp = []
i = 1
while i <= 100:
    if i % 2 == 0:
        llp.append(i)
    i += 1
print(llp)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [16]:
llp2 = []
for j in range(1, 100 + 1):
    if j % 2 == 0:
        llp2.extend([j])
print(llp2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [15]:
llp3 = [k for k in range(1, 101) if k % 2 == 0]
print(llp3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

### Zadanie 1
Stwórz listę liczb od 1, do 200 podzielnych przez 
Paulina - 3
Weronika - 4
Marcin - 5
Igor - 7
Bartosz - 9

In [18]:
podzielne_przez_4 = [liczba for liczba in range(1, 201) if liczba % 4 == 0]
podzielne_przez_9 = [liczba for liczba in range(1, 201) if liczba % 9 == 0]
podzielne_przez_3 = [liczba for liczba in range (1, 200 + 1) if liczba % 3 == 0]
podzielne_przez_7 = [liczba for liczba in range(1,201) if liczba % 7 == 0]
podzielne_przez_5 = [k for k in range(1, 201) if k % 5 == 0]

for lista in [podzielne_przez_3, podzielne_przez_4, podzielne_przez_5, podzielne_przez_7, podzielne_przez_9]:
    print(lista)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171, 180, 189, 198]

In [27]:
# znajdz liczby parzyste i podzielne przez 7 w przedziale [1, 100]
# (a)
llp27 = []
for j in range(1, 100 + 1):
    if (j % 2 == 0) and (j % 7 == 0):
        llp27.extend([j])
print(llp27)

# (b)
llp27 = []
for j in range(1, 100 + 1):
    if j % 14 == 0:
        llp27.extend([j])
print(llp27)

# (c)
llp27 = []
for j in range(1, 100 + 1): 
    if j % 2 == 0: 
        if j % 7 == 0:
            llp27.append(j)
print(llp27)

[14, 28, 42, 56, 70, 84, 98]
[14, 28, 42, 56, 70, 84, 98]
[14, 28, 42, 56, 70, 84, 98]

In [29]:
llp27_w = [j for j in range(1, 101) if j % 2 == 0 and j % 7 == 0]
print(llp27_w)

llp27_w = [j for j in range(1, 101) if j % 2 == 0 if j % 7 == 0]
print(llp27_w)

[14, 28, 42, 56, 70, 84, 98]
[14, 28, 42, 56, 70, 84, 98]

### Zadanie L09.2
Za pomocą wyrażeń listowych oblicz

1. ilość liczb od 1000 do 9999, które mają '1' na 11 najmłodszym bicie w rozwinięciu dwójkowym
3. sumę liczb od -10000 do -1, które mają 'a' w rozwinięciu szesnastkowym
4. ilość liczb od -10000 do 10000, które mają 'a' lub 'b' lub 'c' w rozwinięciu szesnastkowym
5. sumę liczb od 1 do 999, które mają 'd' i 'f' w rozwinięciu szesnastkowym
6. ilość liczb od 1000000 do 1999999 które mają 7 lub 1 w rozwinięciu ósemkowym

Paulina - 1
Weronika - 2
Marcin - 3
Igor - 4
Bartosz - 5

In [64]:
# 5
l71wro_1 = [el for el in range(1000000, 2000000) if oct(el).count('7') or oct(el).count('1')]
l71wro_2 = [el for el in range(1000000, 2000000) if '7' in oct(el) or '1' in oct(el)]
print(len(l71wro_1), len(l71wro_2))

856360 856360

In [38]:
for k in range(200, 220): 
    if ('7' in str(oct(k))) or ('1' in str(oct(k))):
        print(k, oct(k))

200 0o310
201 0o311
202 0o312
203 0o313
204 0o314
205 0o315
206 0o316
207 0o317
209 0o321
215 0o327
217 0o331

In [51]:
# 4
suma_d_f = sum([(liczba) for liczba in range(1,1000) if hex(liczba).count("d") or hex(liczba).count("f")])
print(suma_d_f)

116876

In [ ]:
# if True <==> if (nie 0)
# if False <==> if 0

In [66]:
# 3
lista = [liczba for liczba in range(-10000, 10000) 
         if ('a' in hex(liczba)) or ('b') in hex(liczba) or 'c' in hex(liczba)]
print(len(lista))

8820

In [53]:
# 2
suma_liczb_hex_a = sum([i for i in range(-10000, 0) if hex(i).count("a")])
print(suma_liczb_hex_a)

-8199280

In [60]:
# 1
ilosc_liczb = [liczba for liczba in range (1000, 9999 + 1) if bin(liczba)[-11] == '1']
print(len(ilosc_liczb))

4880

In [71]:
# len(bin(9999)) - 2, bin(9999)

In [74]:
L1 = [1, 2, 3]
L2 = [3, 3, 1]

print(f"Suma L1 jest większe" if sum(L1) > sum(L2) else (f"Suma L2 jest większe" if sum(L1) < sum(L2) else f"Sumy są równe"))

Suma L2 jest większe

In [73]:
# A if warunek else C

In [75]:
# [f(el) for el in sekwencja if g(el)]

## wyrażenia słownikowe

```
{k: v for k, v in sekwencja}
```

In [77]:
ws = {i: i ** 2 for i in range(10)}
ws

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [80]:
lk = [(i, i ** 2) for i in range(10)]
wk = {k: w for k, w in lk}
print(lk)
print(wk)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [81]:
d1 = {j: 
        {i: i + j for i in range(1, 11) if i + j < 0} for j in range(-1, -11, -1) 
     }
d1

{-1: {},
 -2: {1: -1},
 -3: {1: -2, 2: -1},
 -4: {1: -3, 2: -2, 3: -1},
 -5: {1: -4, 2: -3, 3: -2, 4: -1},
 -6: {1: -5, 2: -4, 3: -3, 4: -2, 5: -1},
 -7: {1: -6, 2: -5, 3: -4, 4: -3, 5: -2, 6: -1},
 -8: {1: -7, 2: -6, 3: -5, 4: -4, 5: -3, 6: -2, 7: -1},
 -9: {1: -8, 2: -7, 3: -6, 4: -5, 5: -4, 6: -3, 7: -2, 8: -1},
 -10: {1: -9, 2: -8, 3: -7, 4: -6, 5: -5, 6: -4, 7: -3, 8: -2, 9: -1}}

### Zadanie L10.3
Stwórz słowniki

1. listę pierwiastków 3 stopnia elementów `S`
2. listę znaków ASCII po wcześniejszym dodaniu 100 do każdej wartości (`100 + 1`, `100 + 2`, ...) sekwencji `S`
3. listę wartości funkcji $\sin(\pi * i / 10)$, dla `i` z sekwencji `S` (`from math import sin, pi`)
4. listę kwadratów odwrotności elementów `S`
5. listę kolejnych liczb parzystych większych od 1234567, odpowiadających elementom sekwencji `S` [pierwsza liczba parzysta większa od 1234567, druga liczba parzysta większa od 1234567...]
```
    [1234568, 1234570, 1234572, ...]
```
6. listę kolejnych liczb nieparzystych mniejszych od -98765, odpowiadających elementom sekwencji `S` [pierwsza liczba nieparzysta mniejsza od -98765, druga liczba nieparzysta mniejsza od -98765...]
7. listę krotek liczb, ich kwadratów oraz sześcianów dla elementów `S`
8. listę wartości funkcji $(1 - k) / (k + 1)$, dla `k` z sekwencji `S`
9. listę reszt z dzielenia przez 5 elementów `S`
10. listę wartości `True` lub `False` warunku sprawdzającego czy element `S` jest podzielny przez `3`
11. listę krotek elementów sekwencji `S` oraz ich wartości ze znakiem przeciwnym 
12. listę krotek elementów sekwencji `S` oraz ich kwadratów i pierwiastków kwadratowych

Paulina - 1 Weronika - 2 Marcin - 3 Igor - 4 Bartosz - 5

In [120]:
S = list(range(1, 11))

In [122]:
# 1
pierwiastki_3_stopnia = {liczba: liczba ** (1/3) for liczba in S}
print("1", pierwiastki_3_stopnia)

# 2
w = {i: chr(100 + i) for i in S}
print("2", w)

# 3
from math import sin, pi
d = {i: sin(pi * (i/10)) for i in S }
print("3", d)

# 4
slownik = {element: (1/element) ** 2 for element in S}
print("4", slownik)

# 5
slownik = {k: 1234567 - 1 + 2 * k for k in S}
print("5", slownik)

1 {1: 1.0, 2: 1.2599210498948732, 3: 1.4422495703074083, 4: 1.5874010519681994, 5: 1.7099759466766968, 6: 1.8171205928321397, 7: 1.912931182772389, 8: 2.0, 9: 2.080083823051904, 10: 2.154434690031884}
2 {1: 'e', 2: 'f', 3: 'g', 4: 'h', 5: 'i', 6: 'j', 7: 'k', 8: 'l', 9: 'm', 10: 'n'}
3 {1: 0.3090169943749474, 2: 0.5877852522924731, 3: 0.8090169943749475, 4: 0.9510565162951535, 5: 1.0, 6: 0.9510565162951536, 7: 0.8090169943749475, 8: 0.5877852522924732, 9: 0.3090169943749475, 10: 1.2246467991473532e-16}
4 {1: 1.0, 2: 0.25, 3: 0.1111111111111111, 4: 0.0625, 5: 0.04000000000000001, 6: 0.027777777777777776, 7: 0.02040816326530612, 8: 0.015625, 9: 0.012345679012345678, 10: 0.010000000000000002}
5 {1: 1234568, 2: 1234570, 3: 1234572, 4: 1234574, 5: 1234576, 6: 1234578, 7: 1234580, 8: 1234582, 9: 1234584, 10: 1234586}

In [97]:
{i: 1234567 + i for i in S}

{1: 1234568,
 2: 1234569,
 3: 1234570,
 4: 1234571,
 5: 1234572,
 6: 1234573,
 7: 1234574,
 8: 1234575,
 9: 1234576,
 10: 1234577}

In [106]:
{k: (1234567 + 1 + 1 * k  - 1) for k in S}

{0: 1234567,
 1: 1234568,
 2: 1234569,
 3: 1234570,
 4: 1234571,
 5: 1234572,
 6: 1234573,
 7: 1234574,
 8: 1234575,
 9: 1234576}

In [123]:
S = list(range(1, 11))
slownik = {element: -98765 -1 - 2 * element for element in S}
print(slownik)

{1: -98768, 2: -98770, 3: -98772, 4: -98774, 5: -98776, 6: -98778, 7: -98780, 8: -98782, 9: -98784, 10: -98786}

### zbiory (set)

In [111]:
{i ** 2 for i in range(-10, 11)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### krotki (tuple)

In [114]:
(i for i in S)

### str

In [115]:
"i for i in S"

'i for i in S'

In [116]:
"".join([str(i) for i in S])

'0123456789'

In [118]:
"--".join(str(i) for i in S)

'0--1--2--3--4--5--6--7--8--9'