In [95]:
# lab 06

### Zad 1
Napisz programy wykorzystujące pętlę `while` obliczający sumę i iloczyn. **Stosując instrukcję warunkową pomiń elementy, które generują błąd**.

* iloczyn
$$s=\prod_{i=-4}^{13}\frac{i+5}{i+1}$$

* suma
$$i=\sum_{i=-3}^{3}\cos\left(\frac{\pi * i}{6}\right)$$

Instrukcja `print` umieszczona w każdym obiegu pętli powinna generować napis zawierający wartość licznika pętli, wartość elementu (w przypadku elementów generujących bład ciąg `------`) i bieżącą wartość sumy (iloczynu)  z dokładnością do 5 cyfr po przecinku.

In [2]:
i = 1
iloczyn = 1
while i <= 10:
    iloczyn *= i
    i += 1 
print(iloczyn)

3628800

In [6]:
start, stop = -4, 13
i = start

iloczyn = 1
while i <= stop:
    if i == -1:
        print("------")
    else:
        element = (i + 5) / (i + 1)
        iloczyn *= element
        print("licznik {}, element {}, iloczyn {:.5f}".format(i, element, iloczyn))
    i += 1 
    
print(f"Wartość końcowa iloczynu = {iloczyn}")

licznik -4, element -0.3333333333333333, iloczyn -0.33333
licznik -3, element -1.0, iloczyn 0.33333
licznik -2, element -3.0, iloczyn -1.00000
------
licznik 0, element 5.0, iloczyn -5.00000
licznik 1, element 3.0, iloczyn -15.00000
licznik 2, element 2.3333333333333335, iloczyn -35.00000
licznik 3, element 2.0, iloczyn -70.00000
licznik 4, element 1.8, iloczyn -126.00000
licznik 5, element 1.6666666666666667, iloczyn -210.00000
licznik 6, element 1.5714285714285714, iloczyn -330.00000
licznik 7, element 1.5, iloczyn -495.00000
licznik 8, element 1.4444444444444444, iloczyn -715.00000
licznik 9, element 1.4, iloczyn -1001.00000
licznik 10, element 1.3636363636363635, iloczyn -1365.00000
licznik 11, element 1.3333333333333333, iloczyn -1820.00000
licznik 12, element 1.3076923076923077, iloczyn -2380.00000
licznik 13, element 1.2857142857142858, iloczyn -3060.00000
Wartość końcowa iloczynu = -3059.9999999999995

In [10]:
from math import cos, pi
start, stop = -3, 3
i = start

suma = 0
while i <= stop:
    element = cos(pi * i / 6)
    suma += element
    print("licznik {}, element {}, iloczyn {:.5f}".format(i, element, suma))
    i += 1 
    
print(f"Wartość końcowa iloczynu = {suma}")

licznik -3, element 6.123233995736766e-17, iloczyn 0.00000
licznik -2, element 0.5000000000000001, iloczyn 0.50000
licznik -1, element 0.8660254037844387, iloczyn 1.36603
licznik 0, element 1.0, iloczyn 2.36603
licznik 1, element 0.8660254037844387, iloczyn 3.23205
licznik 2, element 0.5000000000000001, iloczyn 3.73205
licznik 3, element 6.123233995736766e-17, iloczyn 3.73205
Wartość końcowa iloczynu = 3.7320508075688776

### Zad 2
Napisz program, który z napisu `Ala ma kota i dwa psy` generuje napis `AlaMaKotaIDwaPsy`.

In [11]:
ciag_znakow = "Ala ma kota i dwa psy"
i = 0
ciag_liter = ""
while i < len(ciag_znakow):
    if ciag_znakow[i] == " ":
        i += 1
        ciag_liter += ciag_znakow[i].upper()
    else:
        ciag_liter += ciag_znakow[i]
    i += 1
    
print(ciag_liter)

AlaMaKotaIDwaPsy

# Typy sekwencyjne

* **string** - łańcuchy znaków
* list - listy
* **tuple** - krotki
* set - zbiory
* dict - słowniki

**Typy niemodyfikowalne** oznaczone są **boldem**.

```
obiekt.metoda(<argumenty>)
```

In [12]:
napis = 'To jest napis'
len(napis), napis[1], napis[-2], napis[2:6], napis[::3]

(13, 'o', 'i', ' jes', 'Tjtas')

In [22]:
napis2 = napis + " " + ", " + "To tez jest napis"
len(napis2)

33

In [26]:
napis3 = "to jest napis"
napis3.capitalize()

'To jest napis'

In [27]:
napis3.title()

'To Jest Napis'

In [28]:
napis3.lower()

'to jest napis'

In [29]:
napis3.upper()

'TO JEST NAPIS'

In [33]:
napis2.count(' ')

7

In [37]:
napis2.replace(' ', '')

'Tojestnapis,Totezjestnapis'

In [38]:
# dane
ciag_znakow = "Ala ma kota i dwa psy"

# 1. zmiana kazdego wyrazu na wyraz z duzej literki
ciag_znakow = ciag_znakow.title()

# 2. pozbycie sie spacji
ciag_znakow = ciag_znakow.replace(' ', '')
    
print(ciag_znakow)

AlaMaKotaIDwaPsy

# Praca domowa!!!!!!!!!!!!!!!!

Zapoznaj się z metodami dla stringów!

## Tuple (krotka)

In [39]:
krotka = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
krotka

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [40]:
print(krotka)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [45]:
len(krotka), krotka[2], krotka[-2], krotka[1:5], krotka[::3]

(10, 3, 9, (2, 3, 4, 5), (1, 4, 7, 10))

In [47]:
krotka2 = krotka + (100, 200, 300)
krotka2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300)

In [48]:
krotka3 = (1, 2, 3, 3.1, 3.14, 3.141, 'ala', 'ma', 'kota', (100, 200, 300))
krotka3

(1, 2, 3, 3.1, 3.14, 3.141, 'ala', 'ma', 'kota', (100, 200, 300))

In [68]:
start = 1000
stop = 12000

nowa_krotka = ()

i = start
while i <= stop:
    nowa_krotka += (i,)
    i += 1000
    
nowa_krotka

(1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000)

In [53]:
# (i,)

In [69]:
nowa_krotka.count(2)

0

In [70]:
nowa_krotka.count(2000)

1

In [71]:
nowa_krotka.index(2000)

1

In [72]:
krotka6 = (1, 2, 1, 2, 1)
krotka6.index(2)

1

In [73]:
napis

'To jest napis'

In [74]:
napis[1] = 'a'

TypeError: 'str' object does not support item assignment

In [75]:
krotka

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [76]:
krotka[4] = 55

TypeError: 'tuple' object does not support item assignment

## List (listy)

In [77]:
lista = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [78]:
len(lista), lista[2], lista[-2], lista[1:5], lista[::3]

(10, 30, 90, [20, 30, 40, 50], [10, 40, 70, 100])

In [79]:
start = 1000
stop = 12000

nowa_lista = []

i = start
while i <= stop:
    nowa_lista += [i]
    i += 1000
    
nowa_lista

[1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000]

In [80]:
lista.append(200)

In [81]:
lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200]

In [82]:
lista.append(300)

In [83]:
lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200, 300]

In [84]:
lista.pop()

300

In [85]:
lista

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 200]

In [86]:
# 50 <-- 55
lista[4] = 55
lista

[10, 20, 30, 40, 55, 60, 70, 80, 90, 100, 200]

In [88]:
start = 0
stop = len(lista)

suma = 0

i = start
while i < stop:
    suma += lista[i]
    i += 1
    
suma

755

In [89]:
sum(lista)

755

In [91]:
sum(krotka)

55

# Pętla `for`


```
for zmienna in sekwencja:
    BLOK
```

In [92]:
for element in lista:
    print(element)

10
20
30
40
55
60
70
80
90
100
200

In [93]:
suma = 0
for element in lista:
    suma += element
suma

755

In [94]:
suma = 0
for element in krotka:
    suma += element
suma

55