# Lab 09, omówienie kolokwium, wyrażenia listowe

In [1]:
# start 8:05

## Zad 1 (25 pkt) Suma
Oblicz sumę `s`. Użyj takich samych zmiennych jakie widzisz we wzorze poniżej. Użyj pętli `while`. W przypadku, gdy wzór podniesie jakiś wyjątek (błąd) użyj instrukcji warunkowej `if`, by pominąć daną liczbę w pętli.
$$s = \sum_{i=-10}^{10} \frac{i}{i-5}$$

In [21]:
s = 0
i = -10
while i <= 10:
    if i != 5:
        s += i / (i - 5)
    i += 1
print(s)

14.8255217005217

## Zad 2 (25 pkt) Sekwencja

Napisz program, który za pomocą pętli `for` tworzy 
listę liczb od 0 do 30 i zwraca sumę zawartych w tej liście, ale tylko tych podzielnych przez 3 i 7.

In [29]:
# (a)
L = []
for liczba in range(0, 31):
    L.append(liczba)
    
# (b)
s = 0
for el in L:
    if el % 3 == 0 and el % 7 == 0:
        s += el

print(s)

21

In [30]:
# (a)
L = list(range(0, 31))
# (b)
s = 0
for el in L:
    if el % 3 == 0 and el % 7 == 0:
        s += el
print(s)

21

## Zad 3 (25 pkt) Dzień tygodnia
Wiedząc, że w tym roku 1 stycznia przypadał w środę podaj nazwę dnia tygodnia dla 
111
dnia roku 2020. Obliczenia przeprowadź w komórce poniżej, tylko tak zaliczymy punkty.

In [36]:
tydzien = ['WTOREK', 'ŚRODA', 'CZWARTEK', 'PIĄTEK', 'SOBOTA', 'NIEDZIELA', 'PONIEDZIAŁEK']
dzien = 167
tydzien[dzien % 7]

'PONIEDZIAŁEK'

## Zad 4 (25 pkt) -1, 0, 1

Napisz program, który oblicza sumę liczb w podanej liście `L` i zwracający informację (`print`)

* `1` gdy suma liczb dodatnich listy `L` jest większa od wartości bezwzględnej sumy liczb ujemnych listy `L`
* `-1` gdy wartość bezwzględna sumy liczb ujemnych listy `L` jest większa od sumy liczb dodatnich listy `L`
* `0` gdy wartość bezwzględna sumy liczb ujemnych listy `L` jest równa sumie liczb dodatnich listy `L`

Użyj pętli
`for`
(15 pkt)

**Przykłady**

    > L = [1, 2, 3, -4, -5] -->> -1
    
    > L = [1, 2, 3, -1, -2, -3] -->> 0
    
    > L = [1, 2, 3, -1, -2] -->> 1
    
**Uwaga**

> ostatnie 10 punktów można zdobyć za **przefiltrowanie** elementów list podanych jako argumenty, tak by rozpatrywać **tylko liczby** w nich zawarte, np:

    L = [1, 2, (19, 18), 'ala', 3, -4, -5] -->> [1, 2, 3, -4, -5] -->> -1

In [44]:
L1 = [1, 2, (19, 18), 'ala', 3, -4, -5]  # |-9| vs 6  ->>  -1

L = []
for el in L1:
    if type(el) == int or type(el) == float:
        L.append(el)

L = []
i = 0
while i < len(L1):
    el = L1[i]
    if type(el) == int or type(el) == float:
        L.append(el)
    i += 1
        
###
L_min = []
L_plus = []
for el in L:        
    if el < 0:
        L_min.append(-el)
    else:
        L_plus.append(el)

if sum(L_min) > sum(L_plus):
    print(-1)
elif sum(L_min) < sum(L_plus):
    print(1)
else:
    print(0)
###

if sum(L) > 0:
    print(1)
elif sum(L) < 0:
    print(-1)
else:
    print(0)

-1
-1

### Zad z PD
wypisz elementy słownika klucz -> wartosc posortowane rosnąco według pola nazwisko

In [49]:
d = {('Lukasz', 'Machura'): 123446543, ('Igor', 'Juraszek'): 312409876}

# wyrażenia listowe

Składać listy w pętlach w jP można na kilka sposobów: za pomocą konkatenacji `L1 + L2`, metod przynależnych do list `L.append(element), L.insert(indeks, element), L.extend(L2)`. Można też wykorzystać tzw: wyrażenia listowe

```
[f(el) for el in sekwencja]
```

Kilka przykładów poniżej

In [55]:
S = list(range(1, 11))


###
S = [idx for idx in range(1, 11)]  # wyrazenie listowe (list comprehension)

S = []
for idx in range(1, 11):
    S.append(idx)
###


S = []
i = 1
while i <= 10:
    S.append(i)
    i += 1
    
S

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
# lista kwadratow liczb od 1 do 10
K = [el ** 2 for el in S]
K

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
# lista odwrotnosci liczb od 1 do 10
O = [1 / el for el in S]
O

[1.0,
 0.5,
 0.3333333333333333,
 0.25,
 0.2,
 0.16666666666666666,
 0.14285714285714285,
 0.125,
 0.1111111111111111,
 0.1]

In [59]:
# liste krotek (liczba, liczba ** 2), dla liczb od 1 do 10
LK = [(liczba, liczba ** 2) for liczba in S]
LK

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]

### Zadanie L09.1
Kożystając z powyższej wyjściowej sekwencji `S` liczb naturalnych od 1 do 10 zbuduj za pomocą 

1. pętli `while` oraz konkatenacji `+`
2. pętli for oraz metody `append`
3. wyrażenia listowego

następujące listy

1. listę pierwiastków 3 stopnia elementów `S`
2. listę znaków ASCII po wcześniejszym dodaniu 100 do każdej wartości (`100 + 1`, `100 + 2`, ...) sekwencji `S`
3. listę wartości funkcji $\sin(\pi * i / 10)$, dla `i` z sekwencji `S` (`from math import sin, pi`)
4. listę kwadratów odwrotności elementów `S`
5. listę kolejnych liczb parzystych większych od 1234567, odpowiadających elementom sekwencji `S` [pierwsza liczba parzysta większa od 1234567, druga liczba parzysta większa od 1234567...]
6. listę kolejnych liczb nieparzystych mniejszych od -98765, odpowiadających elementom sekwencji `S` [pierwsza liczba nieparzysta mniejsza od -98765, druga liczba nieparzysta mniejsza od -98765...]
7. listę krotek liczb, ich kwadratów oraz sześcianów dla elementów `S`
8. listę wartości funkcji $(1 - k) / (k + 1)$, dla `k` z sekwencji `S`
9. listę reszt z dzielenia przez 5 elementów `S`
10. listę wartości `True` lub `False` warunku sprawdzającego czy element `S` jest podzielny przez `3`
11. listę krotek elementów sekwencji `S` oraz ich wartości ze znakiem przeciwnym 
12. listę krotek elementów sekwencji `S` oraz ich kwadratów i pierwiastków kwadratowych

Marcin 1, 2,
Igor 3, 4,
Taisja 5, 6, 
Bartosz 7, 8, 
Marek 9, 10

In [60]:
S = list(range(1, 11))
K = [el ** 2 for el in S]
LK = [(liczba, liczba ** 2) for liczba in S]
O = [1 / el for el in S]

In [62]:
1234567 + 1, 1234567 + 3, 1234567 + 5, 1234567 + 7, 1234567 + 9, 1234567 + 11, 1234567 + 13, 1234567 + 15, 1234567 + 117

(1234568,
 1234570,
 1234572,
 1234574,
 1234576,
 1234578,
 1234580,
 1234582,
 1234684)

In [77]:
zadanie7 = [(liczba, liczba ** 2, liczba ** 3) for liczba in S]
zadanie7

[(1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [78]:
S

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
lista5 = []
for el in S:
    lista5.append(1234567 + 2 * el - 1)
lista5

[1234568,
 1234570,
 1234572,
 1234574,
 1234576,
 1234578,
 1234580,
 1234582,
 1234584]

### Zagnieżdżanie
Pętle w wyrażeniach listowych można zagnieżdżać, podobnie jak zwykłe pętle. Przykładowo

In [87]:
L10 = []
for i in range(11, 21):
    for j in range(31, 41):
        L10.append(i + j)
print(L10)

[42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [89]:
L11 = [i + j 
       for i in range(11, 21) 
           for j in range(31, 41)]
print(L11)

[42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [96]:
L12 = [(i, j) for i in range(11, 21) for j in range(31, 33)]
print(L12)

[(11, 31), (11, 32), (12, 31), (12, 32), (13, 31), (13, 32), (14, 31), (14, 32), (15, 31), (15, 32), (16, 31), (16, 32), (17, 31), (17, 32), (18, 31), (18, 32), (19, 31), (19, 32), (20, 31), (20, 32)]

In [104]:
L13 = []
for i in range(11, 13):
    for j in [1, 2, 'pi']:
        L13.append((i, j))
print(L13)

[(11, 1), (11, 2), (11, 'pi'), (12, 1), (12, 2), (12, 'pi')]

### Zadanie L09.2
Dzielimy grupę na 3 podgrupy. Każda podgrupa rozwiazuje 1 zadanie. Zbuduj tabliczę mnożenia liczb od 1 do 16 (włącznie), tak by poszczególne elementy listy głównej były listami.

1. [Bartosz + Taisja] za pomocą pętli `while`
2. [Marcin] za pomocą pętli `for`
3. [Marek] za pomocą wyrażenia listowego

In [114]:
# tabliczka mnożenia od 1 do 16
lista = []
liczba = 1
 
while liczba <= 16:
    liczba2 = 1
    lista2 = []
    while liczba2 <= 16:
        wartosc = liczba * liczba2
        lista2.append(wartosc)
        liczba2 += 1
    lista.append(lista2)
    liczba += 1

lista

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160],
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195, 208],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140, 154, 168, 182, 196, 210, 224],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160, 176, 192, 208, 224, 240, 256]]

In [109]:
TM = [[x * z for x in range(1, 17)] for z in range(1, 17)]
TM

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160],
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195, 208],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140, 154, 168, 182, 196, 210, 224],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160, 176, 192, 208, 224, 240, 256]]

In [113]:
M = []
for x in range(1, 17):
    lista2 = []
    for z in range(1, 17):
        lista2.append(x * z)
    M.append(lista2)
M

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160],
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195, 208],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140, 154, 168, 182, 196, 210, 224],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160, 176, 192, 208, 224, 240, 256]]

## Filtrowanie wyrażeń listowych

Za pomocą wyrażenia warunkowego `if` możemy przefiltrować elememnty sekwencji bazowej w czasie tworzenia listy.

```
[f(el) for el in sekwencja if g(el)]
```

Jeżeli `g(el)` rozwiąże się do prawdy `True` to dany element doda się do listy, w przeciwnym wypadku nie doda się.

In [115]:
# nieparzyste liczby od 0 do 99
L9 = [k for k in range(100) if k % 2 == 1]

print(L9)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]