## 1
Wypisz liczby od 1 do 100, przy czym liczby podzielne przez 3 zastąp słowem ‘Fizz’, liczby podzielne przez 5, zastąp słowem ‘Buzz’, natomiast liczby podzielne i przez 3 i przez 5 zastąp słowem ‘FizzBuzz’.

In [67]:
start = 1
stop = 100

while start <= stop:
    if start % 3 == 0 and start % 5 == 0:
        print(f"FizzBuzz")
    elif start % 3 == 0:
        print(f"Fizz")
    elif start % 5 == 0:
        print(f"Buzz")
    else:
        print(start)
    start += 1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [15]:
# rozwiązanie ze strony

for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print ('FizzBuzz')
    elif i % 3 == 0:
        print ('Fizz')
    elif i % 5 == 0:
        print ('Buzz')
    else:
        print (i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

## 2
Napisz program z wykorzystaniem pętli while, który dla 10 kolejnych liczb naturalnych wyświetli sumę poprzedników.
      Oczekiwany wynik: 1, 3, 6, 10, 15, 21, 28, 36, 45, 55

In [39]:
i = 1
suma = 0

while i <= 10:
    print(i + suma)
    suma = suma + i
    i += 1
    
print(suma)

1
3
6
10
15
21
28
36
45
55
55

## 3
Write a Python program to print the following string in a specific format (see the output).

In [54]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

## 4
Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [64]:
imie = input(f"Podaj swoje imię: ")
nazwisko = input(f"Podaj swoje nazwisko: ")

print(nazwisko, imie)

Podaj swoje imię: Paulina
Podaj swoje nazwisko: Cwieląg
Cwieląg Paulina

## Praca domowa
Zapoznaj się z metodami dla stringów.

In [68]:
napis = "Lubie jesc rabarbar pozna noca"

In [69]:
# ilość znaków w napisie
len(napis)

30

In [70]:
# połączenie napisu z nowym napisem, dodanie ich do siebie
napis2 = napis + "," + " " + "a czasami nawet nad ranem"
print(napis2)

Lubie jesc rabarbar pozna noca, a czasami nawet nad ranem

In [71]:
len(napis2)

57

In [75]:
# pierwsza duża litera
napis3 = "lubie placki"
napis3.capitalize()

'Lubie placki'

In [77]:
# pierwsza mała litera
napis2.casefold()

'lubie jesc rabarbar pozna noca, a czasami nawet nad ranem'

In [104]:
# dodawanie po bokach literki, wypisując ją tyle razy, ile potrzeba do uzupełnienia ilości znaków

napis5 = "rabarbar"

boki = napis5.center(10, "O") 

print(boki)

OrabarbarO

In [100]:
napis5 = "rabarbar"

x = napis5.center(20, "O")

print(x)

OOOOOOrabarbarOOOOOO

In [108]:
# liczy ilość czegoś
napis2.count("r")

4

In [110]:
# ???
napis2.encode()

b'Lubie jesc rabarbar pozna noca, a czasami nawet nad ranem'

In [115]:
# prawda czy fałsz; czy napis kończy się na daną literę
napis2.endswith("a")

False

In [116]:
napis2.endswith("m")

True

In [17]:
napis7 = "r\n\ta\n\t\tb\n\t\t\ta\n\t\t\t\tr\n\t\t\t\t\tb\n\t\t\t\t\t\ta\n\t\t\t\t\t\t\tr"
napis7.expandtabs(4)
print(napis7)

r
	a
		b
			a
				r
					b
						a
							r

In [119]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
# sprawdzanie typu danych zmiennej

type()

In [1]:
haslo = input(str("Wpisz przykładowe hasło: "))
znak = 0

while znak < len(haslo):
    if haslo[znak].isupper():
        print(haslo[znak])
    znak += 1

Wpisz przykładowe hasło: AaBbCc
A
B
C

In [2]:
haslo = input(str("Wpisz przykładowe hasło: "))

for znak in haslo:
    if znak.isupper():
        print(znak)

Wpisz przykładowe hasło: AaBbCc
A
B
C

In [1]:
data_urodzenia = {
        ("Jan", "Kowalski"): "13.04.1965",
        ("Adam", "Nowak"): "05.11.1930",
        ("Justyna", "Święs"): "24.01.1999",
        ("Antonina", "Narta"): "12.08.2005",
        ("Kamila", "Rudowicz"): "10.02.2000",
        ("Tomasz", "Dubeltówka"): "17.12.1982",
        ("Gabriel", "Wykidajło"): "29.07.1943",
        ("Serafina", "Kotarska"): "22.03.2009",
        ("Dariusz", "Poncewicz"): "31.05.1999",
        ("Marcelina", "Musioł"): "18.09.1970",
        ("Paweł", "Leonowicz"): "09.03.2003",
        ("Grażyna", "Igiełka"): "01.01.2020"
        }

wprowadzony_rok = int(input("Podaj rok, którego szukasz: "))

print(f"\nOsoby urodzone w roku {wprowadzony_rok}:")
for osoba in data_urodzenia:
    rok_urodzenia = int(data_urodzenia[osoba][-4:])
    if wprowadzony_rok == rok_urodzenia:
        print(f"{osoba[0]} {osoba[1]}: {data_urodzenia[osoba]}")
    
print(f"\nOsoby urodzone przed rokiem {wprowadzony_rok}:") 
for osoba in data_urodzenia:
    rok_urodzenia = int(data_urodzenia[osoba][-4:])
    if wprowadzony_rok > rok_urodzenia:
        print(f"{osoba[0]} {osoba[1]}: {data_urodzenia[osoba]}")

print(f"\nOsoby urodzone po roku {wprowadzony_rok}:") 
for osoba in data_urodzenia:
    rok_urodzenia = int(data_urodzenia[osoba][-4:])
    if wprowadzony_rok < rok_urodzenia:
        print(f"{osoba[0]} {osoba[1]}: {data_urodzenia[osoba]}")

Podaj rok, którego szukasz: 2000

Osoby urodzone w roku 2000:
Kamila Rudowicz: 10.02.2000

Osoby urodzone przed rokiem 2000:
Jan Kowalski: 13.04.1965
Adam Nowak: 05.11.1930
Justyna Święs: 24.01.1999
Tomasz Dubeltówka: 17.12.1982
Gabriel Wykidajło: 29.07.1943
Dariusz Poncewicz: 31.05.1999
Marcelina Musioł: 18.09.1970

Osoby urodzone po roku 2000:
Antonina Narta: 12.08.2005
Serafina Kotarska: 22.03.2009
Paweł Leonowicz: 09.03.2003
Grażyna Igiełka: 01.01.2020