# PP, G1, lab 08
## Słowniki / `dict`

In [1]:
d1 = {}
d2 = dict()
d1, d2

({}, {})

In [13]:
d3 = {10: -10, 
      9: -9, 
      8: -8}
d3

{10: -10, 9: -9, 8: -8}

In [14]:
d3[7] = -7

In [15]:
d3

{10: -10, 9: -9, 8: -8, 7: -7}

### Zad. L08.1 [10 min]
Skonstruuj słownik o rozsądnej nazwie zawierający jako klucze nazwiska wszystkich uczestników zajęć. Jako wartość podaj
1. nr albumu (8 cyfr)
* rok urodzenia
* rozmiar buta
* wzrost
* IQ
* miejsce zamieszkania
* ulubiony kolor
* średnią ocen ze szkoły średniej
* ulubioną książkę

Zadania wg numeracji:
Weronika,
Aleksandra,
Paulina,
Marcin,
Igor,
Taisja,
Bartosz,
Marek,
Joanna,

*Oczywiście nic z powyższego nie musi być prawdą...*

In [1]:
# Igor
studenci_iq = {
            "Cwielag": 135,
            "Dworak": 135,
            "Fraczkiewicz": 134,
            "Gorbaszewicz": 139,
            "Grymel": 138,
            "Hajduczek": 130,
            "Herman": 135,
            "Jargiło": 137,
            "Juraszek": 135,
            "Konowalow": 136,
            "Kowalik": 138,
            "Nowrotek": 136,
            "Lisowski": 135
            }

In [2]:
# Marek
srednia = {
    "Gorbaszewicz" : 4.0,
    "Kowalik" : 3.9,
    "Juraszek" : 4.2,
    "Nowrotek" : 4.3,
    "Jargillo" : 3.7,
    "Grymel" : 3.1,
    "Konowalow" : 5.2,
    "Fraczkiewicz" : 5.4,
    "Lisowski" : 4.0,
    "Hajduczek" : 2.9,
    "Dworak" : 2.6,
    "Herman" : 4.9,
    "Cwielag" : 4.7,
}

In [60]:
# Bartek
kolory = {'Paulina': 'turkusowy',
         'Weronika': 'fioletowy',
         'Aleksandra': 'żółty',
         'Joanna': 'biały',
         'Marcin': 'czerwony',
         'Igor': 'błękitny',
         'Taja': 'zielony',
         'Bartosz': 'pomarańczowy',
         'Marek': 'niebieski',}

In [69]:
# Aleksandra
data_urodzenia = {"Cwielag": "04.06.2001", 
                  "Dworak": "05.11.2000", 
                  "Fraczkiewicz": "12.07.2001", 
                  "Gorbaszewicz": "08.05.2000", 
                  "Grymel": "17.11.2001", 
                  "Hajduczek": "26.03.2001", 
                  "Herman": "08.08.2001", 
                  "Jargilo": "14.05.2000", 
                  "Juraszek": "27.09.2000", 
                  "Konowalow": "01.01.2001", 
                  "Kowalik": "18.10.2001", 
                  "Nowrotek": "12.12.2000", 
                  "Lisowski": "09.04.2001"}

In [6]:
# Marcin
studenci_wzrost = {'nazwisko1': 180, 'nazwisko2': 179, 'nazwisko3': 175, 
                   'nazwisko4': 184, 'nazwisko5': 171, 
                   'nazwisko6': 177, 'nazwisko7': 173, 
                   'nazwisko8': 182, 'nazwisko9': 186}

In [7]:
# Weronika
nr_albumu = {"Frączkiewicz": 73843756, "Gorbaszewicz": 92653847, 
             "Kowalik": 83549725, "Juraszek": 82549756, 
             "Nowrotek": 81438675, "Jargiło": 14359786, 
             "Lisowski": 82538564, "Grymel": 73428574, 
             "Konowałow": 71926475, "Dworak": 72549675, 
             "Herman": 73546254, "Hajduczek": 82536957, 
             "Cwielag": 72549576}

In [8]:
# Joanna
fav_book = {"Fraczkiewicz": "Ferdydurke", 
         "Gorbaszewicz": "Wesele", 
         "Grymel": "Lalka", 
         "Jargilo": "Tango", 
         "Juraszek": "W Pustyni i w Puszczy", 
         "Konowalow": "Kubuś Puchatek", 
         "Kowalik": "Król Maciuś", 
         "Lisowski": "Mały Ksiązę", 
         "Nowrotek": "Obcy"}

In [10]:
# Paulina
lista_uczestnikow = {"Weronika": 36,
                     "Aleksandra": 40,
                     "Paulina": 38,
                     "Marcin": 44,
                     "Igor": 46,
                     "Taisja": 38,
                     "Bartosz": 45,
                     "Marek": 48,
                     "Joanna": 38}

In [12]:
# Taisja
miejsce = {"Fraczkiewicz": "Fiolokowa 12/4", 
           "Gorbaszewicz": "Graficzna 30/5A", 
           "Grymel": "Sosnowa 9E/1",
           "Jargilo": "Jesienna 30/36",
           "Juraszek": "Programistyczna 20/9",
           "Konowalow": "Zaspana 100/200",
           "Kowalik": "Pomocna 30A/7",
           "Lisowski": "Lesna 21/16",
           "Nawrotek": "Imprezowa 3/20E"}

In [16]:
d3

{10: -10, 9: -9, 8: -8, 7: -7}

In [18]:
# zmiana wartosci dla danego klucza
d3[8] = -88

In [19]:
d3

{10: -10, 9: -9, 8: -88, 7: -7}

In [22]:
# "zmiana" klucza
# aby wymienić parę 8: -88, na 88: -88
# 1. usuń (8: -88)
# 2. wstaw (88: -88)
d3.pop(8)

-88

In [23]:
d3[88] = -88

In [24]:
d3

{10: -10, 9: -9, 7: -7, 88: -88}

In [42]:
# odwołanie do wartości
d3[88], d3.get(88), d3.get(88, 'na'), d3.get(108, "n/a")

(-88, -88, -88, 'n/a')

### Zad. L07.2
Zmodyfikuj poprzedni słownik za pomocą interfejsu `d[key] = value`. Użyj pętli i warunków.

1. nr albumu: jeżeli nr albumu kończy się na cyfrę parzystą podmień 4 ostatnie cyfry na "M", jeżeli nieparzystą na "K"
* rok urodzenia: dodaj informację czy rok jest przestępny czy nie
* rozmiar buta: zmień na krotkę `(cm, cale, numerację UK, numeracja EU)`
* wzrost: zamiast liczb użyj [klasyfikacji wzrostu wg Michalskiego](https://antropologia-fizyczna.pl/antropometria/somatometria/wzrost)
* IQ: zmień na [interpretację](https://pl.wikipedia.org/wiki/Iloraz_inteligencji#Skala_ilorazu_inteligencji_i_interpretacja_warto%C5%9Bci_IQ)
* miejsce zamieszkania: dodaj liczbę mieszkańców i województwo
* ulubiony kolor: dodaj [długość fali i częstotliwość](https://pl.wikipedia.org/wiki/Barwy_proste)
* średnią ocen ze szkoły średniej: zmień na opisową (niedostateczny, mierny, dostateczny, dobry, bardzo dobry, celujący)
* ulubioną książkę: dodaj imię i nazwisko autora - jeżeli imię kończy sie na 'a' to dodaj literkę 'F' jeżeli nie to dodaj 'M'

Powyższe numery po kolei: Aleksandra, Paulina, Marcin, Igor, Taisja, Bartosz, Marek, Joanna, Weronika

In [45]:
# {'Machura': 12345678} -> {'Machura': '1234M'}
# {'Machura': 1944} -> {'Machura': '1944 przestepny'}
# {'Machura': 43} -> {'Machura': (27, 10.6, 9, 43)}
# {"Fraczkiewicz": "Ferdydurke"} -> {"Fraczkiewicz": ("Ferdydurke", "Witold", "Gombrowicz", "M")}
#                               -> {"Fraczkiewicz": "Ferdydurke, Witold Gombrowicz M")}

In [47]:
# Igor
studenci_iq = {
            "Cwielag": 135,
            "Dworak": 135,
            "Fraczkiewicz": 134,
            "Gorbaszewicz": 139,
            "Grymel": 138,
            "Hajduczek": 130,
            "Herman": 135,
            "Jargiło": 137,
            "Juraszek": 92,
            "Konowalow": 136,
            "Kowalik": 138,
            "Nowrotek": 136,
            "Lisowski": 135
            }
for element in studenci_iq:
    print(f"{element}: {studenci_iq[element]}")

for element in studenci_iq:
    if (studenci_iq[element] >= 130):
        studenci_iq[element] = "Inteligencja bardzo wysoka"
    elif (studenci_iq[element] >= 120 and studenci_iq[element] < 130):
        studenci_iq[element] = "Inteligencja wysoka"
    elif (studenci_iq[element] >= 110 and studenci_iq[element] < 120):
        studenci_iq[element] = "Inteligencja powyżej przeciętnej"
    elif (studenci_iq[element] >= 90 and studenci_iq[element] < 110):
        studenci_iq[element] = "Inteligencja przeciętna"
    elif (studenci_iq[element] >= 70 and studenci_iq[element] < 90):
        studenci_iq[element] = "Inteligencja niższa niż przeciętna"
    else:
        studenci_iq[element] = "Upośledzenie umysłowe"

for element in studenci_iq:
    print(f"{element}: {studenci_iq[element]}")

Cwielag: 135
Dworak: 135
Fraczkiewicz: 134
Gorbaszewicz: 139
Grymel: 138
Hajduczek: 130
Herman: 135
Jargiło: 137
Juraszek: 92
Konowalow: 136
Kowalik: 138
Nowrotek: 136
Lisowski: 135
Cwielag: Inteligencja bardzo wysoka
Dworak: Inteligencja bardzo wysoka
Fraczkiewicz: Inteligencja bardzo wysoka
Gorbaszewicz: Inteligencja bardzo wysoka
Grymel: Inteligencja bardzo wysoka
Hajduczek: Inteligencja bardzo wysoka
Herman: Inteligencja bardzo wysoka
Jargiło: Inteligencja bardzo wysoka
Juraszek: Inteligencja przeciętna
Konowalow: Inteligencja bardzo wysoka
Kowalik: Inteligencja bardzo wysoka
Nowrotek: Inteligencja bardzo wysoka
Lisowski: Inteligencja bardzo wysoka

In [81]:
# Bartosz
# dodaj liczbę mieszkańców i wojejództwo
studia = {"Fraczkiewicz": "Będzin, Fiolokowa 12/4", 
           "Gorbaszewicz": "Katowice, Graficzna 30/5A", 
           "Grymel": "Gliwice, Sosnowa 9E/1",
           "Jargilo": "Grudziądz, Jesienna 30/36",
           "Juraszek": "Poznań, Programistyczna 20/9",
           "Konowałow": "Lublin, Zaspana 100/200",
           "Kowalik": "Pomocna 30A/7",
           "Lisowski": "Lesna 21/16",
           "Nawrotek": "Imprezowa 3/20E"}
 
lista_wojewodztw = {'Sosnowa': 'dolnośląskie',
                   'kujawsko-pomorskie': '2077775',
                   'lubelskie': '2117619',
                   'lubuskie': '1014548',
                   'łódzkie': '2466322',
                   'małopolskie': '3400577',
                    'mazowieckie': '5403412',
                    'opolskie': '986506',
                    'podkarpackie': '2129015'}
 
for a, b in studia.items():
    pass
   #if

#         print(studia)

In [74]:
# Joanna
srednia = {
    "Gorbaszewicz" : 4.0,
    "Kowalik" : 3.9,
    "Juraszek" : 4.2,
    "Nowrotek" : 4.3,
    "Jargillo" : 3.7,
    "Grymel" : 3.1,
    "Konowalow" : 5.2,
    "Fraczkiewicz" : 5.4,
    "Lisowski" : 4.0,
    "Hajduczek" : 5.9,
    "Dworak" : 2.6,
    "Herman" : 4.9,
    "Cwielag" : 4.7,
}
# print(srednia)

for element in srednia:
    if (srednia[element] == 6):
        srednia[element] = "ocena celująca"
    elif (srednia[element] < 6 and srednia[element] >= 5):
        srednia[element] = "ocena bardzo dobra"
    elif (srednia[element] < 5 and srednia[element] >= 4):
        srednia[element] = "ocena dobra"
    elif (srednia[element] < 4 and srednia[element] >= 3):
        srednia[element] = "ocena dostateczna"
    elif (srednia[element] <3 and srednia[element] >= 2):
        srednia[element] = "ocena dopuszczajaca"
    elif (srednia[element] < 2 and srednia[element] >= 1):
        srednia[element] = "ocena niedostateczna"

print(srednia)

{'Gorbaszewicz': 'ocena dobra', 'Kowalik': 'ocena dostateczna', 'Juraszek': 'ocena dobra', 'Nowrotek': 'ocena dobra', 'Jargillo': 'ocena dostateczna', 'Grymel': 'ocena dostateczna', 'Konowalow': 'ocena bardzo dobra', 'Fraczkiewicz': 'ocena bardzo dobra', 'Lisowski': 'ocena dobra', 'Hajduczek': 'ocena bardzo dobra', 'Dworak': 'ocena dopuszczajaca', 'Herman': 'ocena dobra', 'Cwielag': 'ocena dobra'}

In [73]:
# Marek 
kolory

for student in kolory:
    if kolory[student] == "czerwony":
        kolory[student] = "czerwony: ~ 635-770 ~ 480-405"
    elif kolory[student] == "pomaranczowy":
        kolory[student] = "pomaranczowy: ~ 590-635 ~ 510-480"
    elif kolory[student] == "zolty":
        kolory[student] = "zolty: ~ 565-590 ~ 530-510"
    elif kolory[student] == "zielony":
        kolory[student] = "zielony: ~ 520-565 ~ 580-530"
    elif kolory[student] == "cyjan":
        kolory[student] = "cyjan: ~ 500-520 ~ 600-580"
    elif kolory[student] == "niebieski":
        kolory[student] = "niebieski: ~ 450-500 ~ 670-600"
    elif kolory[student] == "indygo":
        kolory[student] = "indygo: ~ 430-450 ~ 700-670"
    elif kolory[student] == "fioletowy":
        kolory[student] = "fioletowy: ~ 380-430 ~ 790-700"
    else:
        kolory[student] = kolory[student] + ": brak danych"
        
kolory

{'Paulina': 'turkusowy: brak danych',
 'Weronika': 'fioletowy: ~ 380-430 ~ 790-700',
 'Aleksandra': 'żółty: brak danych',
 'Joanna': 'biały: brak danych',
 'Marcin': 'czerwony: ~ 635-770 ~ 480-405',
 'Igor': 'błękitny: brak danych',
 'Taja': 'zielony: ~ 520-565 ~ 580-530',
 'Bartosz': 'pomarańczowy: brak danych',
 'Marek': 'niebieski: ~ 450-500 ~ 670-600'}

In [67]:
# Marcin
lista_uczestnikow = {"Weronika": 36,
                     "Aleksandra": 40,
                     "Paulina": 38,
                     "Marcin": 44,
                     "Igor": 46,
                     "Taisja": 38,
                     "Bartosz": 45,
                     "Marek": 48,
                     "Joanna": 38,
                     "Lukasz": 42}

nr_eu_cm = {36: 22, 37: 22.5, }
nr_eu_uk = {36: 3, 37: 4, 38: 5, }

for element in lista_uczestnikow:
    nr_eu = lista_uczestnikow[element]
    lista_uczestnikow[element] = (nr_eu_cm.get(nr_eu, "na"), 
                                  nr_eu_cm.get(nr_eu, "na") * 1, 
                                  nr_eu_uk.get(nr_eu, "na"), 
                                  nr_eu)
        
lista_uczestnikow

{'Weronika': (22, 22, 3, 36),
 'Aleksandra': ('na', 'na', 'na', 40),
 'Paulina': ('na', 'na', 5, 38),
 'Marcin': ('na', 'na', 'na', 44),
 'Igor': ('na', 'na', 'na', 46),
 'Taisja': ('na', 'na', 5, 38),
 'Bartosz': ('na', 'na', 'na', 45),
 'Marek': ('na', 'na', 'na', 48),
 'Joanna': ('na', 'na', 5, 38),
 'Lukasz': ('na', 'na', 'na', 42)}

In [72]:
# Paulina
# rok przestępny
# jest podzielna przez 4 i niepodzielna przez 100 lub
# jest podzielna przez 400

for element in data_urodzenia:
    pass
#     if (rok_urodzenia[element] == 2000):
#         rok_urodzenia[element] = ("2000, rok przestepny")
#     elif (rok_urodzenia[element]) == 2001:
#         rok_urodzenia = ("2001, rok nieprzestepny")
# print(rok_urodzenia)

In [83]:
# Taisja
studenci_wzrost = {"Cwielag": 180, 
                   "Dworak": 179, 
                   "Fraczkiewicz": 175, 
                   "Gorbaszewicz": 184, 
                   "Grymel": 171, 
                   "Hajduczek": 177, 
                   "Jargiło": 173, 
                   "Juraszek": 182, 
                   "Konowalow": 186}

for value in studenci_wzrost:
    print(f"{value}: {studenci_wzrost[value]}")

for value in studenci_wzrost:
    if (studenci_wzrost[value] >= 200):
        studenci_wzrost[value] = "Wzrost olbrzymi"
    elif (studenci_wzrost[value] >= 180 and studenci_wzrost[value] <= 199):
        studenci_wzrost[value] = "Wzrost bardzo wysoki"
    elif (studenci_wzrost[value] >= 170 and studenci_wzrost[value] <= 179):
        studenci_wzrost[value] = "Wzrost wysoki"
    elif (studenci_wzrost[value] >= 167 and studenci_wzrost[value] <= 169):
        studenci_wzrost[value] = "Wzrost ponad średni"
    elif (studenci_wzrost[value] >= 164 and studenci_wzrost[value] <= 166):
        studenci_wzrost[value] = "Wzrost średni"
    else:
        studenci_wzrost[value] = "Poniżej średniego, niski lub bardzo niski"
    
studenci_wzrost

Cwielag: 180
Dworak: 179
Fraczkiewicz: 175
Gorbaszewicz: 184
Grymel: 171
Hajduczek: 177
Jargiło: 173
Juraszek: 182
Konowalow: 186

{'Cwielag': 'Wzrost bardzo wysoki',
 'Dworak': 'Wzrost wysoki',
 'Fraczkiewicz': 'Wzrost wysoki',
 'Gorbaszewicz': 'Wzrost bardzo wysoki',
 'Grymel': 'Wzrost wysoki',
 'Hajduczek': 'Wzrost wysoki',
 'Jargiło': 'Wzrost wysoki',
 'Juraszek': 'Wzrost bardzo wysoki',
 'Konowalow': 'Wzrost bardzo wysoki'}

In [88]:
# Aleksandra 
nr_albumu = {"Frączkiewicz": 73843756, 
             "Gorbaszewicz": 92653847, 
             "Kowalik": 83549725, 
             "Juraszek": 82549756, 
             "Nowrotek": 81438675, 
             "Jargiło": 14359786, 
             "Lisowski": 82538564, 
             "Grymel": 73428574, 
             "Konowałow": 71926475, 
             "Dworak": 72549675, 
             "Herman": 73546254, 
             "Hajduczek": 82536957, 
             "Cwielag": 72549576}
 
for klucz in nr_albumu:
    if nr_albumu[klucz] % 2 == 0:
        nr_albumu[klucz] = klucz[0:4], "M"
    else:
        nr_albumu[klucz] = klucz[0:4], "F"
        
nr_albumu

{'Frączkiewicz': ('Frąc', 'M'),
 'Gorbaszewicz': ('Gorb', 'F'),
 'Kowalik': ('Kowa', 'F'),
 'Juraszek': ('Jura', 'M'),
 'Nowrotek': ('Nowr', 'F'),
 'Jargiło': ('Jarg', 'M'),
 'Lisowski': ('Liso', 'M'),
 'Grymel': ('Grym', 'M'),
 'Konowałow': ('Kono', 'F'),
 'Dworak': ('Dwor', 'F'),
 'Herman': ('Herm', 'M'),
 'Hajduczek': ('Hajd', 'F'),
 'Cwielag': ('Cwie', 'M')}

In [89]:
# nr_albumu["Herman"]