### Zad 1
Proszę wydrukować liczby parzyste od 1 do 21

In [1]:
# dane wejsciowe
start = -21
stop = 2

# algorytm
i = start
while i <= stop:
    if not i % 2:  # i % 2 == 0
        print(i)
    i += 1

-20
-18
-16
-14
-12
-10
-8
-6
-4
-2
0
2

In [12]:
i = 2
not i % 2

True

### Zad 2
Proszę wydrukować liczby nieparzyste od -21 do 0

In [2]:
# dane wejsciowe
start = -21
stop = 0

# algorytm
i = start
while i <= stop:
    if i % 2:
        print(i)
    i += 1

-21
-19
-17
-15
-13
-11
-9
-7
-5
-3
-1

### Zad 3
Wydrukuj liczby od -100 do 100 podzielne przez 5 i 7

In [3]:
start = -100
stop = 100

i = start
while i <= stop:
    if (not i % 5) and (not i % 7):
        print(i)
    i += 1

-70
-35
0
35
70

In [4]:
start = -100
stop = 100

i = start
while i <= stop:
    if (i % 5 == 0) or (i % 7 == 0):
        print(i)
    i += 1

-100
-98
-95
-91
-90
-85
-84
-80
-77
-75
-70
-65
-63
-60
-56
-55
-50
-49
-45
-42
-40
-35
-30
-28
-25
-21
-20
-15
-14
-10
-7
-5
0
5
7
10
14
15
20
21
25
28
30
35
40
42
45
49
50
55
56
60
63
65
70
75
77
80
84
85
90
91
95
98
100

### Zad 4
Wydrukuj liczby od -17 do 32 które mają jedynkę na 3 miejscu rozwinięcia dwójkowego

In [72]:
start = -17
stop = 32

zmienna = start
while zmienna <= stop:
    wersja_binarna = bin(zmienna)
    if wersja_binarna[-3] == "1":
        print(wersja_binarna)
    zmienna += 1

-0b1111
-0b1110
-0b1101
-0b1100
-0b111
-0b110
-0b101
-0b100
0b100
0b101
0b110
0b111
0b1100
0b1101
0b1110
0b1111
0b10100
0b10101
0b10110
0b10111
0b11100
0b11101
0b11110
0b11111

# Strings

In [8]:
napis1 = "Python"
napis2 = 'Python'
napis3 = """Python"""
napis4 = '''
Python
'''

In [9]:
napis4

'\nPython\n'

In [11]:
len(napis1)

6

In [13]:
len("Ala ma kota")

11

In [14]:
napis1[3-1]

't'

In [15]:
napis1[2]

't'

In [16]:
napis1[len(napis1)-1]

'n'

In [17]:
napis1[len(napis1)-2]

'o'

In [18]:
napis1[len(napis1)-4]

't'

In [20]:
napis1[-1]

'n'

In [21]:
napis1[-2]

'o'

In [23]:
napis1[-6], napis1[-len(napis1)]

('P', 'P')

In [28]:
napis1[-1], napis1[1]

('n', 'y')

In [43]:
# tho 2, 3, 4
napis1[2:5]
napis1

'Python'

In [41]:
napis1[0:3]  # 0, 1, 2 bez 3

'Pyt'

In [48]:
napis1[3:6], napis1[3:len(napis1)]

('hon', 'hon')

In [57]:
N = 3
napis1[0:N], napis1[N:len(napis1)]

('Pyt', 'hon')

In [58]:
napis1[0:3], napis1[:3]

('Pyt', 'Pyt')

In [59]:
napis1[:4]

'Pyth'

In [60]:
napis1[3:]

'hon'

In [61]:
napis1[:]

'Python'

```
napis[od:do:skok]
np: napis[2:7:2]
```

In [62]:
napis1[1:5:2]

'yh'

In [63]:
napis1

'Python'

In [66]:
napis1[0:len(napis1):1], napis1[::]

('Python', 'Python')

In [70]:
# najprostsze odwracanie sekwencji
napis1[::-1]

'nohtyP'